<footer class="footer mt-5">

    <div class="container text-center">

        <h5>DSC Monitoring Portal</h5>
        <hr>
        <p class="copyright">
            © 2026 Central Warehousing Corporation. All Rights Reserved.
        </p>
        <p class="developer">
            Developed as part of Summer Internship 2026
            for Central Warehousing Corporation (CWC).
        </p>

    </div>

</footer>