<div style="height: 10px;background:#1f5d99;"></div>

<div class="container-fluid bg-white py-2">

    <div class="row align-items-center">

        <div class="col-md-3 text-center">
            <img src="/images/logo.png" alt="CWC Logo" style="height:90px;">
        </div>

        <div class="col-md-6 text-center">

            <h5 class="fw-bold mb-0"> केंद्रीय भंडारण निगम</h5>
            <h5 class="fw-bold mb-0 mt-0">Central Warehousing Corporation</h5>
            <h6 class="fw-bold mb-0 mt-0">(भारत सरकार का नवरत्न उपक्रम)</h6>
            <h5 class="fw-bold mb-0">A Navratna CPSE</h5>
            <small class="fw-semibold" style="font-size:.75rem;">
                Under the Ministry of Consumer Affairs,
                Food and Public Distribution.
            </small>
        </div>

        <div class="col-md-3 text-center">
            <h3 class="fw-bold fst-italic" style="font-size:1.25rem">Warehousing For Everyone</h3>
        </div>

    </div>

</div>

<nav class="navbar navbar-expand-lg p-0" style="background:#1f5d99;">

    <div class="container-fluid p-0">

        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link text-white menu-link" href="/"> Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white menu-link" href="/about">About </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white menu-link" href="/dashboard">DSC Monitoring</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white menu-link" href="/contact">Contact Us</a>
            </li>

        </ul>

    </div>

</nav>