.footer{
    background:#1d1d1d;
    color:#fff;
    padding:35px 0 25px;
    margin-top:70px;
    font-size:.95rem;
}

.footer h5{
    font-weight:700;
    margin-bottom:10px;
}

.footer p{
    margin-bottom:6px;
}

.footer hr{
    width:320px;
    margin:18px auto;
    border-color:#555;
}

.updated span{
    color:#ffd54f;
    font-weight:600;
}

.copyright{
    color:#d9d9d9;
    margin-bottom:5px;
}

.developer{
    color:#bfbfbf;
    font-size:.9rem;
}